* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ffffff;
    padding: 30px;
}

.header {
    margin-bottom: 25px;
}

.header h1 {
    font-size: 28px;
    margin-bottom: 6px;
}

.header p {
    color: #666;
    font-size: 15px;
}

.main {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.first {
    background-color: #5d1a0c9a;
    border-radius: 14px;
    padding: 20px; width: 1000px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.first h3 {
    margin-bottom: 15px;
}

.second {
    width: 100%;
    height: 150px;
    background-color: #55640c;
    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.second h3 {
    font-weight: normal;
}

.btn {
    background-color: #6fb06f;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background-color: #5aa35a;
}

